//
// This file is meant to regroup your design customizations. For example, doing
// this will separate your footer with a dotted border using your primary color.
//
// footer {
//     border-top: 5px dotted theme-color('primary');
// }
//


//HEADER

#misenso_nav {
    background-color: $misenso-sand !important;
}

#top_menu{
    margin: 0 !important;
    
    & > li >  a.nav-link {
        color: $misenso-black !important;
        font-family: inherit;
    }
}


#top_menu_collapse{
     & li.dropdown .dropdown-menu:not(.te_custom_submenu).o_mega_menu {
         width: 60% !important;
        left: -1% !important;
        padding: 0px !important;
        margin-left: 12px !important;
    }
}

#top_menu_collapse_clone{
         & li.dropdown .dropdown-menu:not(.te_custom_submenu).o_mega_menu {
             width: 60% !important;
             left: 6% !important;
             padding: 0px !important;
             margin-left: 12px !important;
    }
}

header.affixed{
    top: inherit !important;
}

a#o_logout{
    visibility: hidden;
    display: none;
}

#wrapwrap > header:not(.o_header_affix) {
    top: 48px !important;
}

#wrapwrap.o_header_overlay > header:not(.o_header_affix) {
    position: unset;
}

.navbar-toggler {
  border: 0;
}

//responsive rules
@media (max-width: 767px) {
  .te_header_navbar {
    background: $misenso-sand !important;
  }

  #wrapwrap > header:not(.o_header_affix) {
    top: 0 !important;
    position: absolute !important;
    left: 0;
    bottom: auto;
    right: 0;
  }

  .te_header_before_overlay{
    position: relative;
    top: 35px;
    z-index: 996;
    margin-bottom: 35px;
  }
  
  .a-service-login{
    margin-top: 10px;
  }
  
  .navbar-toggler .navbar-toggler-icon {
      width: 25px;
  }
}

@include media-breakpoint-only(lg) {
    #top {
        margin: 0px auto !important;
        width: 100% !important;
        max-width: 1400px !important;

        & > nav > div.container{
            width: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}


//GENERAL ELEMENTS

input, textarea {
    border: none !important;
}

select {
    border: none !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    -ms-appearance: none !important; /* get rid of default appearance for IE8, 9 and 10*/
}

html[data-view-xmlid="website_sale.products"] select{
    border: 1px solid #ced4da !important; 
}

h1, h2, h3, h4, h5, h6, span {
    font-family: 'MisensoFontBlack', "Rubik", "Odoo Unicode Support Noto", sans-serif;
}

body, p, div.alert, h6.o_wsale_products_item_title, span.oe_currency_value {
    font-family: 'MisensoFontBook', "Rubik", "Odoo Unicode Support Noto", sans-serif;
}

div.te_attr_title span, div.price_filter_head span {
    font-family: 'MisensoFontBook', "Rubik", "Odoo Unicode Support Noto", sans-serif;
}


h2, .btn{
    text-transform: none !important;
}

//CONTENT

.misenso-4col .o_we_custom_image {
    max-width: 100px !important;
}

.misenso-4col .te_4_col_section {
    min-height: 450px;
}

.misenso-4col a{
    color: $misenso-forest;
}


.ubermisenso-4col .o_we_custom_image {
     max-width: 100px !important;
}

.ubermisenso-4col .te_4_col_section {
    min-height: 450px;
}

.ubermisenso-4col a{
    color: $misenso-forest;
}

.hoergeraete-4col .o_we_custom_image {
     max-width: 100px !important;
}

.hoergeraete-4col .te_4_col_section {
    min-height: 450px;
}

.hoergeraete-4col a{
    color: $misenso-forest;
}

.span-link:hover{
    border-bottom: 2px solid #237d50;
    padding-bottom: 3px;
}

.hero-image-home .btn_sand{
    margin: 0 30px -200px 30px;
    width: 150px;    
}

@include media-breakpoint-down(md) { 
    .misenso-4col section.pb40,
    .misenso-4col section div.pb32,
    .hoergeraete-4col section.pb40,
    .hoergeraete-4col section div.pb32 {
        padding-bottom: 0px !important;
    }
}

@include media-breakpoint-down(md) { 
    .s_banner{ 
        padding-bottom: 0 !important;
        
        div.container{
            width: 75%;
        }
        
        .bg-beta{
            background-color: rgba(250, 246, 235, 0.9) !important;
        }
    }
}


@include media-breakpoint-only(xs) {
  .hero-image-home .btn_sand {
    margin: 0 7px;
        width: 125px;
  }
  .s_btn .btn + .btn {
    margin-left: 0rem;
  }
}

.btn_sand {
    color: #212529 !important;
    background-color: #faf6eb !important;
    border-color: #faf6eb !important;
}


.btn_sand:hover {
    border-color: #237d50 !important;
    border-style: solid !important;
    background-color: #237d50 !important;
    color: #ffffff !important;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.brand_carousel .owl-nav button.owl-prev i, .brand_carousel .owl-nav button.owl-next i {
    font-size: 4.0rem !important;
}

.te_brand_slider, .te_slider_title:before {
    background-color: $misenso-white !important;
}

.te_company_details{
    display: none;
    visibility: hidden;
}

@media (min-width: 992px) and (max-width: 1340px) {
  .misenso-4col section div div.te_4_col_icon {
    flex: 0 0 40%;
    max-width: 40%;
    margin-bottom: 35px;

    &:nth-child(1), &:nth-child(3){
        margin-left: 10%;
    }
  }
}

@media (min-width: 992px) and (max-width: 1530px) {
  .ubermisenso-4col section div div.te_4_col_icon {
    flex: 0 0 40%;
    max-width: 40%;
    margin-bottom: 35px;

    &:nth-child(1), &:nth-child(3){
        margin-left: 10%;
    }
  }
}

@media (min-width: 992px) and (max-width: 1560px) {
  .hoergeraete-4col section div div.te_4_col_icon {
    flex: 0 0 40%;
    max-width: 40%;
    margin-bottom: 35px;

    &:nth-child(1), &:nth-child(3){
        margin-left: 10%;
    }
  }
}


//FOOTER

h5.footer-sub-title::before {
    display: none !important;
}
